body {
    background-color: #eee;
}

p {
    padding: 10px;
    font-size: 22px;
    font-style: inherit;
}

.box1 {
    position: relative;
    left: 50px;
    top: 50px;
    width: 300px;
    text-align: center;
    margin: none;
    background-color: white;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
    border-left: solid red;
    transition: 0.5s;
}

.box1:hover {
    transform: scale(1.05, 1.05);
}
.box2 {
    font-size: 21px;
    position: relative;
    left: 50px;
    top: 50px;
    width: 300px;
    text-align: center;
    margin: none;
    background-color: white;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
    border-left: solid rgba(0, 150, 0);
    transition: 0.5s;
}

.box2:hover {
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
}

.box3 {
    font-size: 21px;
    position: relative;
    left: 50px;
    top: 50px;
    width: 300px;
    text-align: center;
    margin: none;
    background-color: white;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
    border-left: solid blue;
    transition: 0.5s;
}

.box3:hover {
    background-color: rgba(0, 0, 0, 0.05);
}