body {
    background-color: #eee;
}
/* PARA EL LINK */
a{
    color: hotpink;
    background-color: #f00;
    border: solid 2px rgb(136, 61, 61);
    padding: 15px;
    margin: 15px;
    border-radius: 4px;
}

a:link{
    color: pink; 
    text-decoration: none;
}

a:visited{
    color: aqua;
}
a:hover{
    color: rgb(43, 39, 39);
    text-decoration: underline;
    background-color: #daeaee;
    border-color: #f00;
    border-radius: 3px;
}
a:active{
    color: black;
}

/*  PARA LA LISTA NO ORDENADA UL*/
ul{
    list-style-type: none;
    background-color: #fff;
    border:solid 1px #ddd;
    border-radius: 4px;
    padding-left: 0px;
}

li{
    border-bottom: solid 1px #ddd;
    padding: 15px;
}

/* TABLA CON ESTYLO */
table{
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

td{
    border: 1px solid #ddd;
    padding: 8px;
}

table th{
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}